html{
    min-height: 100%;
    position: relative;
}

/* Header classes */
.header{
    top: 0;
}

.main-bg-color{
    background-color: #8A0000;
}

.navbar.nav{
    padding-bottom: .2rem;
}

.nav-link{
    color: #FFBE0A !important;
}

.nav-item{
    padding-bottom: .2rem;
}

.nav-link:hover{
    border: solid #FFBE0A;
    border-width: 0em 0em .2rem;
}
/* Header classes */

/* Main div classes */
.main-div{
    top: 5em;
    left: 7.5%;
    bottom: 5em;
    width: 85%;
    align-content: center;
}

/* Image banner classes */
.text-img-container{ 
    bottom: 1em;
    background-color: #B4FBB2;
    opacity: .77;
}
/* Image banner classes */
/* Main div classes */

/* Footer classes */
.footer{
    bottom: 0;
    width: 100%;
}
/* Footer classes */
