html,body{
    height: 100%;
}

/* Header classes */
.header{
    top: 0;
    height: 5em;
}

.main-bg-color{
    background-color: #8A0000;
}

.nav-link{
    color: #FFBE0A !important;
}

.nav-link:hover{
    border: solid #FFBE0A;
    border-width: 0em 0em .2em;
}
/* Header classes */

/* Main div classes */
.main-div{
    top: 5em;
    left: 7.5%;
    bottom: 5em;
    width: 85%;
    align-content: center;
}

/* Image banner classes */
.text-img-container{ 
    bottom: 1em;
    background-color: #B4FBB2;
    opacity: .77;
}
/* Image banner classes */
/* Main div classes */

/* Footer classes */
.footer{
    bottom: 0;
    height: 5em;
}

.footer-container{
    padding-top: .5em;
    padding-bottom: .5em;
}

.footer-container a{
    color: #FFBE0A;
    text-decoration: none;
    font-size: x-large;
}

.footer-container a:link{
    color: #FFBE0A;
}

.footer-container a:hover{
    border: solid;
    border-width: 0em 0em .2em;
}
/* Footer classes */