html,body{
    height: 100%;
}

/* Header classes */
.header{
    top: 0;
}

.main-bg-color{
    background-color: #8A0000;
}

.navbar.nav{
    padding-bottom: .2rem;
}

.nav-link{
    color: #FFBE0A !important;
}

.nav-item{
    padding-bottom: .2rem;
}

.nav-link:hover{
    border: solid #FFBE0A;
    border-width: 0em 0em .2rem;
}
/* Header classes */

/* Main div classes */
/* Image banner classes */
.image{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: initial;
}
.text-img-container{ 
    bottom: 1rem;
    background-color: #B4FBB2;
    opacity: .77;
}
/* Image banner classes */
/* Main div classes */

/* Footer classes */
.footer{
    bottom: 0;
}
/* Footer classes */