/* Image banner classes */
.img-caption{ 
    background-color: #B4FBB2;
}

img{
    transition: transform .5s ease;
}

img:hover{
    opacity: .8;
    transform: scale(1.1);
}
/* Image banner classes */