#map{
  height: 20em;
  width: 100%;
  display: block;
}

.card-deck {
  @media (min-width: 768px) {
    &.three-col {
      .card {
        flex-basis: calc(50% - 30px);
      }
    }
  }   
}

.card {
  flex-basis: 100%;
}

.card-title{
  min-height: 2.3em;
}

/* Delete x on search type input boxes on Chrome and Safari */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }